<div class="product-card product">
  <div class="product-card__image" routerLink="/product/{{ id }}">
 <!-- Swiper Component -->
 <swiper [zoom]="false"
 [slidesPerView]="screenWidth > 1200 ? 3 : 1"
 [spaceBetween]="50"
 [pagination]="true"
 [loop]="true">
   <ng-template swiperSlide >
     <img *ngFor="let img of images" [src]="img" alt="{{img}}" width="100%">
   </ng-template>
 </swiper>  </div>
  <div class="product-card__info">
    <header>
      <div class="title">
        <div class="product-name">{{ title }}</div>
        <div class="product-short-desc">{{ short_desc }}</div>
      </div>
      <div class="product-price">{{ price | currency: "USD" }}</div>
    </header>
  </div>
  <div class="product-card__cta">
    <button
      nz-button
      [disabled]="quantity === 0"
      (click)="
        onAdd({
          id: id,
          price: price,
          image: images,
          title: title,
          maxQuantity: quantity
        })
      "
    >
      {{ quantity === 0 ? "Out of stock" : "Add to cart" }}
    </button>
  </div>
